/*CSS general de elementos*/
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #222;
    color:white;
    font: 200 14px'Poppins', sans-serif;
    background-image: url("../Imagenes/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 280px;
}
h2{
    font-size: 36px;
    line-height: 36px;
}
h3{
    color: white;
    font-size: 18px;
    font-weight: 300;
}
/* IDS y Clases*/
#nombre{
    text-align: center;
    padding: 15px 100px 10px 100px;
    color: aquamarine;
}
.seccion{
 text-align: center;
}
.fa-brands{
    padding: 10px 10px 10px 10px;
    
}
.redes{
    border-top: 1px solid greenyellow;
    text-align: center;
    color: yellow;
}
#facebook{
    color: aqua;
}
#twitch{
    color: blueviolet;
}
#github{
    color: black;
}