/*CSS general de elementos*/
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #222;
    color:white;
    font: 200 14px'Poppins', sans-serif;
    background-image: url("../Imagenes/firmafondo.png");
    background-repeat: no-repeat;
   background-size: cover;
    min-height: 280px;
}
h2{
    font-size: 36px;
    line-height: 36px;
}
h3{
    color: white;
    font-size: 18px;
    font-weight: 300;
}

/* IDS y Clases*/

#table{
    padding: 10px 100px 10px 500px;
}

#foto{
    padding: 10px 100px 10px 600px;
}
#nombre{
    padding: 10px 100px 10px 500px;
}
#informacion{
    padding: 10px 100px 10px 550px;
}